#textdomain wesnoth-Hero_of_Irdya_I

[unit_type]
    id=Vampire Heavy Guard
    name= _ "Heavy Guard"
    race=vampire
    image="units/vampires/heavy-guard.png"

    hitpoints=38
    movement_type=armoredfoot
    # they are vampires
    [resistance]
        arcane=120
        fire=120
    [/resistance]
    movement=4
    experience=40
    level=1
    alignment=chaotic
    advances_to=Vampire Blood Guardian
    cost=17
    description= _ "As a Trooper of the Legion, this soldier's only purpose is to defend the castles or vanguards."
    
    {NOTE_DREAD}

    die_sound={SOUND_LIST:HUMAN_DIE}
    usage=fighter
    [attack]
        name=hammer
        description=_"hammer"
        type=impact
        icon="attacks/hammer-dwarven.png"
        range=melee
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_DREAD}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/vampires/heavy-guard.png" "units/vampires/heavy-guard.png" {SOUND_LIST:HUMAN_HIT} }
    {GENERIC_HAMMER_ANIM hammer "units/vampires/heavy-guard.png"}
[/unit_type]