 #textdomain wesnoth-eternal-era

[unit_type]
    id=Fallen_Fighter						
    name= _ "Fallen Fighter"						
    race=fallen	
    gender=male						
    image="units/undead-fallen/fallen-fighter.png"
    small_profile="portraits/fallen/fallen-fighter.png ~SCALE(205,205)"
    profile="portraits/fallen/fallen-fighter.png"

    hitpoints=36
    movement_type=fallnorm
    movement=5
    experience=40
    level=1
    alignment=chaotic
    advances_to=Fallen_Slayer,Fallen_Revenger
    cost=16
    usage=fighter
    description={UNIT_NOTICE}+{FALLEN_NOTICE}+"..."
    die_sound=wail-long.wav


    [attack]
        name=ageless blade
        description= _ "ageless blade"
        icon=attacks/fallen-sword-one.png
        type=blade
        range=melee
        damage=8
        number=3
        [specials]
		{FALLEN_DRAIN 0.25}
        [/specials]
    [/attack]

    [attack]
        name=scream
        description= _ "scream"
        icon=attacks/fallen-scream-one.png
        type=arcane
        range=ranged
        damage=4
        number=2
    [/attack]

[attack_anim]
        [filter_attack]
            name=scream
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            offset=1.0
            duration=150
            image="projectiles/dark-missle-n-1.png"
            image_diagonal="projectiles/dark-missle-ne-1.png"
        [/missile_frame]
        start_time=-450
            sound=magicmissile.wav
    [/attack_anim]
   
    
[/unit_type]
