#textdomain wesnoth-Hero_of_Irdya_I

[event]
    name="preload"

    {~add-ons/Hero_of_Irdya_I/macros/lua-loader.cfg}
[/event]

# add AMLA menu

[event]
    name="prestart"

    {AMLA_MENU}
[/event]

# Krog the Troll Warmonger

[event]
    id="krog_custom_AMLA_event"
    name="post_advance"
    first_time_only=yes

    [filter]
        side=1
        id="Krog"
        type="Troll Warmonger"
    [/filter]

    [modify_unit]
        [filter]
            id="Krog"
        [/filter]
        # this causes a crash to main menu
        #max_experience={ON_DIFFICULTY 75 100 140}
        max_experience=100
    [/modify_unit]

    [object]
        take_only_once=yes
        silent=yes
        duration=forever
        [filter]
            id="Krog"
        [/filter]
        [effect]
            apply_to=new_advancement
            replace=no

            {AMLA_SET_KROG_THE_TROLL}
        [/effect]
    [/object]

    [transient_message]
        caption= _ "Krog AMLA Unlocked"
        message= _ "Krog has earned access to his specialised AMLA options."
        transparent=yes
        image="units/trolls/warmonger.png~RC(magenta>darkred)"
        sound=lightning.ogg
    [/transient_message]
[/event]

# Meherab

[event]
    id="meherab_custom_AMLA_event"
    name="post_advance"
    first_time_only=yes

    [filter]
        side=1
        id="Meherab"
        type="Exterminator"
    [/filter]

    [modify_unit]
        [filter]
            id="Meherab"
        [/filter]
        # this causes a crash to main menu
        #max_experience={ON_DIFFICULTY 75 100 140}
        max_experience=100
    [/modify_unit]

    [object]
        take_only_once=yes
        silent=yes
        duration=forever
        [filter]
            id="Meherab"
        [/filter]
        [effect]
            apply_to=new_advancement
            replace=no

            {AMLA_SET_MEHERAB}
        [/effect]
    [/object]

    [transient_message]
        caption= _ "Meherab AMLA Unlocked"
        message= _ "Meherab has earned access to his specialised AMLA options."
        transparent=yes
        image="units/human-heroes/exterminator.png~RC(magenta>khaki)"
        sound=lightning.ogg
    [/transient_message]
[/event]

# rider1
# Loyal Wolf Rider

[event]
    id="rider1_custom_AMLA_event"
    name="post_advance"
    first_time_only=yes

    [filter]
        side=1
        id="rider1"
        type="Goblin Cutthroat"
    [/filter]

    [modify_unit]
        [filter]
            id="rider1"
        [/filter]
        # this causes a crash to main menu
        #max_experience={ON_DIFFICULTY 75 100 140}
        max_experience=75
    [/modify_unit]

    [object]
        take_only_once=yes
        silent=yes
        duration=forever
        [filter]
            id="rider1"
        [/filter]
        [effect]
            apply_to=new_advancement
            replace=no

            {AMLA_SET_RIDER1}
        [/effect]
    [/object]

    [transient_message]
        caption= _ "AMLA Unlocked"
        message= _ "This unit has earned access to his specialised AMLA options."
        transparent=yes
        image="icons/ascension.png"
        sound=lightning.ogg
    [/transient_message]
[/event]

# rider2
# Loyal Hellwolf Rider

[event]
    id="rider2_custom_AMLA_event"
    name="post_advance"
    first_time_only=yes

    [filter]
        side=1
        id="rider2"
        type="Hellwolf Rider"
    [/filter]

    [modify_unit]
        [filter]
            id="rider2"
        [/filter]
        # this causes a crash to main menu
        #max_experience={ON_DIFFICULTY 75 100 140}
        max_experience=75
    [/modify_unit]

    [object]
        take_only_once=yes
        silent=yes
        duration=forever
        [filter]
            id="rider2"
        [/filter]
        [effect]
            apply_to=new_advancement
            replace=no

            {AMLA_SET_RIDER2}
        [/effect]
    [/object]

    [transient_message]
        caption= _ "AMLA Unlocked"
        message= _ "This unit has earned access to his specialised AMLA options."
        transparent=yes
        image="icons/ascension.png"
        sound=lightning.ogg
    [/transient_message]
[/event]

# crylix
# loyal Saurian Skirmisher

[event]
    id="crylix_custom_AMLA_event"
    name="post_advance"
    first_time_only=yes

    [filter]
        side=1
        id="Crylix"
        type="Saurian Flanker"
    [/filter]

    [modify_unit]
        [filter]
            id="Crylix"
        [/filter]
        # this causes a crash to main menu
        #max_experience={ON_DIFFICULTY 75 100 140}
        max_experience=75
    [/modify_unit]

    [object]
        take_only_once=yes
        silent=yes
        duration=forever
        [filter]
            id="Crylix"
        [/filter]
        [effect]
            apply_to=new_advancement
            replace=no

            {AMLA_SET_CRYLIX}
        [/effect]
    [/object]

    [transient_message]
        caption= _ "AMLA Unlocked"
        message= _ "This unit has earned access to her specialised AMLA options."
        transparent=yes
        image="icons/ascension.png"
        sound=lightning.ogg
    [/transient_message]
[/event]

# kojac
# loyal orish archer

[event]
    id="kojac_custom_AMLA_event"
    name="post_advance"
    first_time_only=yes

    [filter]
        side=1
        id="Kojac"
        type="Orcish Slurbow"
    [/filter]

    [modify_unit]
        [filter]
            id="Kojac"
        [/filter]
        # this causes a crash to main menu
        #max_experience={ON_DIFFICULTY 75 100 140}
        max_experience=75
    [/modify_unit]

    [object]
        take_only_once=yes
        silent=yes
        duration=forever
        [filter]
            id="Kojac"
        [/filter]
        [effect]
            apply_to=new_advancement
            replace=no

            {AMLA_SET_KOJAC}
        [/effect]
    [/object]

    [transient_message]
        caption= _ "AMLA Unlocked"
        message= _ "This unit has earned access to his specialised AMLA options."
        transparent=yes
        image="icons/ascension.png"
        sound=lightning.ogg
    [/transient_message]
[/event]

# Nog
# loyal troll rocklobber

[event]
    id="nog_custom_AMLA_event"
    name="post_advance"
    first_time_only=yes

    [filter]
        side=1
        id="Nog"
        type="Troll Boulderlobber"
    [/filter]

    [modify_unit]
        [filter]
            id="Kojac"
        [/filter]
        # this causes a crash to main menu
        #max_experience={ON_DIFFICULTY 75 100 140}
        max_experience=70
    [/modify_unit]

    [object]
        take_only_once=yes
        silent=yes
        duration=forever
        [filter]
            id="Nog"
        [/filter]
        [effect]
            apply_to=new_advancement
            replace=no

            {AMLA_SET_NOG}
        [/effect]
    [/object]

    [transient_message]
        caption= _ "AMLA Unlocked"
        message= _ "This unit has earned access to his specialised AMLA options."
        transparent=yes
        image="icons/ascension.png"
        sound=lightning.ogg
    [/transient_message]
[/event]

# Faria
# Hero Mage of Nature

[event]
    id="faria_custom_AMLA_event"
    name="post_advance"
    first_time_only=yes

    [filter]
        side=1
        id="Faria"
        type="Mage of Nature"
    [/filter]

    [modify_unit]
        [filter]
            id="Faria"
        [/filter]
        # this causes a crash to main menu
        #max_experience={ON_DIFFICULTY 75 100 140}
        max_experience=100
    [/modify_unit]

    [object]
        take_only_once=yes
        silent=yes
        duration=forever
        [filter]
            id="Faria"
        [/filter]
        [effect]
            apply_to=new_advancement
            replace=no

            {AMLA_SET_FARIA}
        [/effect]
    [/object]

    [transient_message]
        caption= _ "Faria AMLA Unlocked"
        message= _ "Faria has earned access to her specialised AMLA options."
        transparent=yes
        image="units/human-magi/nature-mage.png~RC(magenta>dark_purple)"
        sound=lightning.ogg
    [/transient_message]
[/event]

# Abrar the Mighty
# this is my best friend

[event]
    id=abrar_level_4_advancement
    name="post_advance"
    first_time_only=yes

    [filter]
        id="Abrar"
        type="Iron Mauler"
    [/filter]

    [modify_unit]
        [filter]
            id="Abrar"
        [/filter]
        advances_to="Titanium Decimator"
    [/modify_unit]

    [transient_message]
        caption= _ "Level 4 Advancement Unlocked"
        message= _ "Abrar can advance to Titanium Decimator"
        transparent=yes
        image="units/human-loyalists/decimator.png~RC(magenta>darkred)"
        sound=lightning.ogg
    [/transient_message]
[/event]

[event]
    id="abrar_custom_AMLA_event"
    name="post_advance"
    first_time_only=yes

    [filter]
        side=1
        id="Abrar"
        type="Titanium Decimator"
    [/filter]

    [modify_unit]
        [filter]
            id="Abrar"
        [/filter]
        # this causes a crash to main menu
        #max_experience={ON_DIFFICULTY 75 100 140}
        max_experience=100
    [/modify_unit]

    [object]
        take_only_once=yes
        silent=yes
        duration=forever
        [filter]
            id="Abrar"
        [/filter]
        [effect]
            apply_to=new_advancement
            replace=no

            {AMLA_SET_ABRAR}
        [/effect]
    [/object]

    [transient_message]
        caption= _ "Abrar AMLA Unlocked"
        message= _ "Abrar has earned access to his specialised AMLA options."
        transparent=yes
        image="units/human-loyalists/decimator.png~RC(magenta>dark_purple)"
        sound=lightning.ogg
    [/transient_message]
[/event]

# Mahir
# hero = Shadow Lord

[event]
    id="mahir_custom_AMLA_event"
    name="post_advance"
    first_time_only=yes

    [filter]
        side=1
        id="Mahir"
        type="Shadow Mage"
    [/filter]

    [modify_unit]
        [filter]
            id="Mahir"
        [/filter]
        # this causes a crash to main menu
        #max_experience={ON_DIFFICULTY 75 100 140}
        max_experience=100
    [/modify_unit]

    [object]
        take_only_once=yes
        silent=yes
        duration=forever
        [filter]
            id="Mahir"
        [/filter]
        [effect]
            apply_to=new_advancement
            replace=no

            {AMLA_SET_MAHIR_SHADOW}
        [/effect]
    [/object]

    [transient_message]
        caption= _ "Mahir AMLA Unlocked"
        message= _ "Mahir has earned access to his specialised AMLA options."
        transparent=yes
        image="units/human-outlaws/shadow-lord.png~RC(magenta>dark_purple)"
        sound=lightning.ogg
    [/transient_message]
[/event]
