#textdomain wesnoth-Hero_of_Irdya_I

#define HOI_LIMIT_ARMY SIDE RACE_NAME TYPES TOTAL VARIABLE
[event]
	name=prestart
	
	[set_variable]
		name={VARIABLE}
		value={TOTAL}
	[/set_variable]
[/event]

[event]
	name=recruit,recall
	first_time_only=no
	
	[filter]
		side={SIDE}
		{RACE_NAME}
	[/filter]

	[set_variable]
		name={VARIABLE}
		sub=1
	[/set_variable]
	
	[if]
		[variable]
			name={VARIABLE}
			equals=0
		[/variable]
		
		[then]
			[print]
				text=_ "No recruits/recalls left for this faction."
				size=28
				red,green,blue=255,0,0
			[/print]
			
			[disallow_recruit]
				side={SIDE}
				type={TYPES}
			[/disallow_recruit]
			
			[store_unit]
				[filter]
					side={SIDE}
					{RACE_NAME}
					[and]
						x,y=recall,recall
					[/and]
				[/filter]
			
				mode=append
				variable=disabled_recalls
				kill=yes
			[/store_unit]
		[/then]
		
		[else]
			[print]
				text=_ "${VARIABLE} recruits/recalls left for this faction."
				size=28
				red,green,blue=0,255,0
			[/print]
		[/else]
	[/if]
	
[/event]

[event]
	name=victory,defeat
	
	[clear_variable]
		name={VARIABLE}
	[/clear_variable]

        {FOREACH disabled_recalls i}
	
            [unstore_unit]
                variable=disabled_recalls[$i]
            [/unstore_unit]
        {NEXT i}
	
	#[unstore_unit]
        # 	variable=disabled_recalls
	#[/unstore_unit]
	
	{CLEAR_VARIABLE disabled_recalls}
[/event]
#enddef

#define HOI_RECRUIT_PER_TURN SIDE TYPE NUMBER
    # If used, SIDE can recruit exactly NUMBER unit(s)) of type TYPE each turn

    # Taken from Adamant14's Antar, Son of Rheor
   
      [event]
         name=start
         {VARIABLE type_{TYPE}_count 0}
      [/event]

      [event]
         name=recruit
         first_time_only=no
         [filter]
            side={SIDE}
            type={TYPE}
         [/filter]
         {VARIABLE_OP type_{TYPE}_count add 1}
         [if]
            [variable]
               name=type_{TYPE}_count
               less_than={NUMBER}
            [/variable]
            [else]
               [disallow_recruit]
                  side={SIDE}
                  type={TYPE}
               [/disallow_recruit]
            [/else]
         [/if]

		# Reset recruiting on next turn
         [event]
            name=new turn

            [allow_recruit]
               side={SIDE}
               type={TYPE}
            [/allow_recruit]
            {VARIABLE_OP type_{TYPE}_count value 0}
         [/event]
      [/event]

      [event]
         name=victory
         {CLEAR_VARIABLE type_{TYPE}_count}
      [/event]
#enddef