#textdomain wesnoth-Hero_of_Irdya_I

# CAVE

# {TERRAIN_BASE_RANDOM      Uhe                cave/earthy-hills-variation       }

# BURNING FOREST AND HOUSE

{OVERLAY_B               *^Xff                              ANIMATION_08_140 fire/fire-big-forest}
{OVERLAY_B               *^Xfv                              ANIMATION_08_140 fire/fire-big-village}

# Stone Doorways

[terrain_graphics]
    map="
,  *
*,   2
,  1
*,   *
,  *"
    [tile]
        pos=2
        type=Xo*
        set_no_flag=wall-sw
    [/tile]
    [tile]
        pos=1
        type=*^Iz/
    [/tile]
    [image]
        name=interior/wall-stone-door-open-ne.png
        base=117,144
        center=90,144
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
,  *
*,   2
,  1
*,   *
,  *"
    [tile]
        pos=2
        type=Xo*
        set_no_flag=wall-sw
    [/tile]
    [tile]
        pos=1
        type=*^Xz/
    [/tile]
    [image]
        name=interior/wall-stone-door-closed-ne.png
        base=117,144
        center=90,144
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
,  *
*,   *
,  1
2,   *
,  *"
    [tile]
        pos=2
        type=Xo*
        set_no_flag=wall-ne
    [/tile]
    [tile]
        pos=1
        type=*^Iz/,*^Xz/
    [/tile]
    [image]
        name=interior/wall-stone-door-open-sw.png
        layer=0
        base=63,182
        center=90,144
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
,  *
2,   *
,  1
*,   *
,  *"
    [tile]
        pos=2
        type=Xo*
        set_no_flag=wall-se
    [/tile]
    [tile]
        pos=1
        type=*^Iz\
    [/tile]
    [image]
        name=interior/wall-stone-door-open-nw.png
        base=117,144
        center=90,144
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
,  *
2,   *
,  1
*,   *
,  *"
    [tile]
        pos=2
        type=Xo*
        set_no_flag=wall-se
    [/tile]
    [tile]
        pos=1
        type=*^Xz\
    [/tile]
    [image]
        name=interior/wall-stone-door-closed-nw.png
        base=117,144
        center=90,144
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
,  *
*,   *
,  1
*,   2
,  *"
    [tile]
        pos=2
        type=Xo*
        set_no_flag=wall-nw
    [/tile]
    [tile]
        pos=1
        type=*^Iz\,*^Xz\
    [/tile]
    [image]
        name=interior/wall-stone-door-open-se.png
        layer=0
        base=63,182
        center=90,144
    [/image]
[/terrain_graphics]

# Ancient Castle and Keep

{DISABLE_BASE_TRANSITIONS  (Cay,Kay)}
{TERRAIN_BASE_L               Cay                 -50                                  ancient/cobbles-keep}
{TERRAIN_BASE_P          Kay                              10                   ancient/plate7}
{TERRAIN_BASE_P          Kay                              10                   ancient/plate6}
{TERRAIN_BASE_P          Kay                              10                   ancient/plate5}
{TERRAIN_BASE_P          Kay                              10                   ancient/plate4}
{TERRAIN_BASE_P          Kay                              10                   ancient/plate3}
{TERRAIN_BASE_P          Kay                              10                   ancient/plate2}
{KEEP_BASE               Kay                                                   ancient/plate}
{NEW:WALL      Cay                 (!,Cay,Kay)                      ancient/castle}
{NEW:WALL2     Kay                 Cay             (!,Cay,Kay)      ancient/keep-castle}
{NEW:WALL      Kay                 (!,Kay)                          ancient/keep}

# Marble Castle and Keep

{DISABLE_BASE_TRANSITIONS  (Cmy,Kmy)}
{KEEP_BASE               Cmy                                                   marble/cobbles-keep}
{KEEP_BASE               Kmy                                                   marble/plate}
{NEW:WALL      Cmy                 (!,Cmy,Kmy)                      marble/castle}
{NEW:WALL2     Kmy                 Cmy             (!,Cmy,Kmy)      marble/keep-castle}
{NEW:WALL      Kmy                 (!,Kmy)                          marble/keep}

# Cities

{NEW:FOREST    *^Rhx (C*,K*,X*,Ql*,Qx*,Gv*,W*,A*,M*,*^V*,*^B*,*^F*)    city/residential}
{NEW:VILLAGE   *^Vhx                                                   city/residential-village}

# Carpet

{TERRAIN_BASE             Ycp                                                    interior/carpet}
{TRANSITION_COMPLETE_L    Ycp          G*,R*,W*,S*,D*,A*,Q*,Ur,Iwr     -220      interior/carpet}

# ELVISH DRY CASTLE

{TERRAIN_BASE            Cvz                   elvish-castle-ground-dry}
{NEW:WALL                Cvz         (!,C*,K*) castle/elven/castle}

# LAVA (CUSTOM)

{ANIMATED_WATER_15          Qlfz    ()                     150                    unwalkable/lava}
{WALL_TRANSITION2_LF        Ql      Qx*,Xv,_off^_usr      (!,Ql,Qx*)   -90 ground unwalkable/lava-chasm}
{WALL_TRANSITION2_LF        Qlfz    Qx*,Xv,_off^_usr      (!,Ql*,Qx*)  -90 ground unwalkable/lava-chasm}
{WALL_TRANSITION_LF         Ql      (!,Ql,Xv,_off^_usr)                -90 ground unwalkable/lava}
{WALL_TRANSITION_LF         Qlf*    (!,Qlf*,Xv,_off^_usr)              -90 ground unwalkable/lava-high}

# BLOOD
#
##define BLOODY
#"~CS(75,-255,-255)"#enddef
#
#{ANIMATED_WATER_15        Wwb                {BLOODY}        110  water/coast-tropical}
#{ANIMATED_WATER_15_TRANSITION Wwb (!,Wwb,!,W*,S*) -553 {BLOODY} 110 water/coast-tropical-long}
#{ANIMATED_WATER_15_TRANSITION Wwb (!,Wwb,!,W*,S*) -559 {BLOODY} 110 water/coast-tropical-long}

# Blood
# credits: Iris/shikadiqueen/shadowm
{NEW:OVERLAY                              Wwbf        water/ford FLAG=ford LAYER=-519}

{NEW:WATER_342_180                        Wwb,Wwbf    water/water  17 DURATION=125 RANDOM_START=125}
{NEW:WATER_342_180_OVERLAY                Wwb         water-overlay-blood                      -502}
{NEW:WATER_342_180_OVERLAY                Wwbf        water-overlay-blood-ford                 -502}

# Blood transitions
{NEW:WATER_342_180_OVERLAY_TRANSITION     Wwb         (!,Wwb,!,W*,Sm)  -505 water-overlay-blood      0.80}
{NEW:WATER_342_180_OVERLAY_TRANSITION     Wwbf        (!,Wwbf,!,W*,Sm) -505 water-overlay-blood-ford 0.40}

{EDITOR_OVERLAY *^Uov tile-icons/overlay-rough}

# Summoning Runes
{OVERLAY          *^Sc                                            magic/circle-magic}
{OVERLAY_RANDOM          *^Sr                                     magic/rune}

# Lowered Cave Tile
# credits: WhiteWolf
{TERRAIN_BASE_RANDOM     Xzg7                                                      cave/floor}
{WALL_TRANSITION_LF   Xzg7              (!,Xzg7,Xv,Q*,_off^_usr,Re,Rd,Rb,W**,C*,K*,Tphz,Gs,Gd,Ds,Dt,Ft,Ht,Dt,Hd,Hhd)                -90  ground  chasm/regular}
{TRANSITION_COMPLETE_LF       Xzg7             (Xv,_off^_usr,!,Re,Gs,Gd,Ds,Dt,Ft,Ht,Dt,Wdt,Wst,Hd,Hhd)                    -601     depths      cave/floor}
{TRANSITION_COMPLETE_L     Xzg7               (R*,Gs,Gd,Ds,Dt,Ft,Ht,Dt,Wdt,Wst)                                 -319                 cave/floor}

# Vampire castle and Keep
# credits: doofus-01
{DISABLE_BASE_TRANSITIONS  (Cydy,Kydy)}
{KEEP_BASE               Kydy                                                     despair/cobbles-keep}
{KEEP_BASE               Cydy                                                   despair/road}
{NEW:CASTLEWALL      Cydy                 (!,Cydy,Kydy)          X*            despair/castle}
{NEW:CASTLEWALL2     Kydy                 Cydy             (!,Cydy,Kydy)      despair/keep-castle}
{NEW:CASTLEWALL      Kydy                 (!,Kydy)             X*             despair/keep}
