#textdomain wesnoth-Hero_of_Irdya_I
[unit_type]
    id=Orcish Overlord
    name= _ "Orcish Overlord"
    race=orc
    image="units/orcs/overlord.png"
    profile="portraits/orcs/overlord.png"

    hitpoints=94
    movement_type=orcishfoot
    movement=5
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=58
    usage=fighter
    description= _ "Only orcs with both great cunning and unsurpassed strength can become overlords. Masters of the sword, these beast-warriors lead their brethren with iron will and iron hand."

    {NOTE_DREAD}
    [special_note]
        note= _ "On a melee attack, whatever hits the target will also hit enemies in the two hexes that are adjacent to both the attacker and defender, in a crescent moon shape, for 50% of the original damage."
    [/special_note]

    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM_RANGE "units/orcs/overlord.png" "units/orcs/overlord.png" {SOUND_LIST:ORC_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/orcs/overlord.png" "units/orcs/overlord.png" {SOUND_LIST:ORC_HIT} ranged}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/orcs/transparent/warlord.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/orcs/transparent/warlord.png"
    [/portrait]

    [attack]
        name=greatsword
        description=_"greatsword"
        icon=attacks/greatsword-orcish.png
        type=blade
        range=melee
        damage=20
        number=3
    [/attack]
    [attack]
        name=battleaxe
        description=_"battleaxe"
        icon=attacks/axe-deathblade.png
        type=blade
        range=melee
        damage=30
        [specials]
            {WEAPON_SPECIAL_DREAD}
            {WEAPON_SPECIAL_CLEAVE}
        [/specials]
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=greatsword
        [/filter_attack]

        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
        start_time=-300
        [frame]
            image="units/orcs/overlord.png:50"
        [/frame]
        [frame]
            image="units/orcs/overlord.png:[100*2,75,100*2,75]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -50}
        [frame]
            image="units/orcs/overlord.png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=battleaxe
        [/filter_attack]

        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
        start_time=-300
        [frame]
            image="units/orcs/overlord.png:50"
        [/frame]
        [frame]
            image="units/orcs/overlord.png:[100*2,75,100*2,75]"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
        [frame]
            image="units/orcs/overlord.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
