[unit_type]
    id=Aspect of Fire
    name= _ "Aspect of Fire"
    race=elemental
    image="units/monsters/ancient-nephilim.png"
    hitpoints=170
    movement_type=drakefoot
    [resistance]
        fire=0
        arcane=90
    [/resistance]
    movement=5
    experience=300
    level=5
    alignment=neutral
    advances_to=null
	{AMLA_DEFAULT}
    cost=43
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/monsters/ancient-nephilim.png" "units/monsters/ancient-nephilim.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=sword
        description=_"sword"
        icon="attacks/sword-fire-god.png~BLIT('attacks/frame-fire-god.png')~SCALE(60,60)"
        type=fire
        range=melee
        damage=25
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/monsters/ancient-nephilim.png:[120*6]"
			halo="strikegfx/whirl-[1~4].png:[180*4]"
        [/frame]
		
		[if]
			hits=yes
			[missile_frame]
				halo=strikegfx/rip-[1~5].png~BLEND(255,255,255,0.8)~SCALE(120,120):[50*5]
				offset=1.0
				auto_vflip=false
			[/missile_frame]
		[/if]
		
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
    [/attack_anim]

    #define ARMOR_SHIFT NEWCHAN ORIGCHAN
        if(red <= green and green <= blue + 3, ({NEWCHAN} / 255.0)^2 * 255.0, {ORIGCHAN})
    #enddef

    #define ARMOR_SHIFT_IPF
        "CHAN({ARMOR_SHIFT blue red}, {ARMOR_SHIFT green green}, {ARMOR_SHIFT red blue})"
    #enddef

    #define BOSS_COLOR_SHIFT
        [event]
            name=unit placed
            first_time_only=no

            [filter]
                type="Aspect of Fire"

                [not]
                    [filter_wml]
                        [modifications]
                            [object]
                                armor_color_shift=yes
                            [/object]
                        [/modifications]
                    [/filter_wml]
                [/not]
            [/filter]

            [object]
                armor_color_shift=yes
                silent=yes

                [effect]
                    apply_to=image_mod
                    add={ARMOR_SHIFT_IPF}
                [/effect]
            [/object]
        [/event]
    #enddef

    {BOSS_COLOR_SHIFT}
[/unit_type]
